*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    gap: 2rem;
    padding: 1rem;
}

header{
    padding: 1rem;
    margin-bottom: 2rem;
}

.horas{
    max-width: 600px;
    display: flex;
    gap: 1rem;
    width: 100%;
    

    & .barra-horas{
        --height: 1.25rem;
        --hours: 76;
        --totalHours: 125;
        position: relative;
        width: 100%;
        height: var(--height);
        flex: 1;
        border-radius: calc(var(--height)/2);
        background-color: #e7e7e7;

        &::before{
            content: "";
            display: block;
            width: calc((var(--hours)/var(--totalHours))*100%);
            height: 100%;
            background-color: rgb(13, 197, 59);
            border-radius: inherit;
        }

        &::after{
            counter-reset: mi-contador var(--hours);
            content: counter(mi-contador);
            position: absolute;
            top: -3rem;
            left: calc((var(--hours)/var(--totalHours))*100%);
            font-size: 2.5rem;
            margin-left: -1.75rem;
        }
    }

    & span{
        font-size: 1.5rem;
        font-weight: 900;
    }
}

.inversiones{
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    align-items: flex-start;
    overflow-x: scroll;
    padding-bottom: 2rem;
}

.section{
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 0.25rem;
    flex: 1;
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & .section__header, & .section__footer{
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        & h2{
            font-size: 1.15rem;
            font-weight: 600;
        }

        & span{
            font-weight: 700;
        }
    }

}

.items{
    display: flex;   
    gap: 0.5rem;
    flex-direction: column;
    & .item{
        box-shadow: 0 4px 4px rgba(0,0,0, 0.05);
        border: 1px solid #ccc;
        border-radius: 0.5rem;
        padding: 1rem;
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        gap: 1rem;
        justify-content: space-between;

        &.completed{
            background-color: rgb(215, 251, 215);
            color: green;
            border-color: rgb(132, 206, 132);
            font-weight: 300;
        }

        &.current{
            background-color: rgb(243, 235, 253);
            color: #7300ff;
            border-color: #7300ff;
            font-weight: 600;
        }
    }     
}

